.header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 2rem;
    border-bottom: 1px solid var(--border);
}
.header-main {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    line-height: 1rem;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text_color);
}
.logo-brand {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary);
    font-family: 'Poppins',sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 4px;
}
.logo object {
    width: 30px;
    height: 30px;
    margin-right: 1px;
    stroke: var(--primary);
    margin-right: 2px;
}
.dash-toggle {
    width: 30px;
    margin-top: 2px;
    display: none;
    color: var(--text_color);
    transition: all .2s ease;
}
.dash-toggle:active {
    color: var(--primary);
}
.nav {
    position: relative;
    transition: all .2s ease;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    transition: all .2s ease;
}
.menu-item {
    font-size: .9rem;
    color: var(--gray);
    font-weight: 600;
    margin: 0 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    line-height: 1rem;
    padding: 0 .4rem;
    letter-spacing: .2px;
    transition: all .2s ease;
}
.menu-item svg {
    margin-right: 1px;
    color: var(--gray);
    margin-bottom: 2px;
    transition: all .2s ease;
}
.menu-item.active,
.menu-item:hover {
    color: var(--primary);
}

.menu-item.active svg,
.menu-item:hover svg {
    color: var(--primary);
}


@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        height: auto;
    }
}
@media screen and (max-width: 450px) {
    .header {        
        height: auto;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        display: block;
        width: 100%;
        padding: 0;
        border-bottom: none;
    }
    .header-main {
        width: 100%;
        justify-content: space-between;
        padding: .8rem;
        border-bottom: 1px solid var(--border);
    }
    .logo-brand {
        font-size: 1.5rem;
    }
    .logo object {
        width: 24px;
        height: 24px;
    }
    .dash-toggle {
        display: inline-block;
    }
    .menu {
        align-items: flex-end;
        flex-direction: column;
    }
    .menu-item {
        display: flex;
        font-size: .95rem;
        font-weight: 500;
        width: 100%;
        padding: 0 .8rem;
        border-bottom: 1px solid var(--border);
    }
    .menu-item svg {
        margin-right: 2px;
    }
    .nav .menu {
        position: absolute;
        top: -100rem;
    }
    .nav.active .menu {
        position: initial;
        /* top: -100rem; */
    }
    
}